* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.appContainer {
    display: flex;
    width: 100vw;
    height: 100vh;
    flex-direction: row;
    background: rgb(45, 122, 35);
    background: radial-gradient(circle, rgba(45, 122, 35, 1) 0%, rgba(26, 65, 19, 1) 100%);
    align-items: center;

    button{
        color: #ffffff;
        font-size: 20px;
        padding: 20px;
        background-color: #FFE008;
        border-radius: 5px;
        border-color:  #F2AD0F;
        border-width: 5px;
        border-style:outset;
        margin: 10px;
        cursor: pointer;

    }

    button:hover {
        color: #ffdd00;
        background-color: rgba(41, 146, 41, 0.6);
        opacity: 0.6;
        transition: 0.3s;
        
    }
    
    .dice{
        display: flex;
        flex-direction: column;
    }
    
}
