.appContainer {
    display: flex;
    width: 100vw;
    height: 100vh;
    margin: 0;
    padding: 0;
    flex-direction: row;
    background: rgb(45, 122, 35);
    background: radial-gradient(circle, rgba(45, 122, 35, 1) 0%, rgba(26, 65, 19, 1) 100%);

}